<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (submit)="signIn()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Sign In</ion-button>
  </form>
  <ion-row>
    <ion-col>
      <p>Don't have an account? <a (click)="goToSignUp()">Sign Up</a></p>
    </ion-col>
  </ion-row>
</ion-content>
